{% load static %}
<nav class="sidenav">
  <div class="logo">
    <img
      src="https://res.cloudinary.com/hephzisoft/image/upload/v1659625589/Hephzisoft/Free_Sample_By_Wix_pdwndp.jpg"
      alt="logo"
      class="rounded-circle img-fluid"
    />
  </div>
  <div class="nav">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Projects</a></li>
    </ul>
  </div>
  <div class="footer">
    Copyright &copy;2022 Owned by <a href="">Hephzisoft</a>
  </div>
</nav>
