<div class="social">
  <ul>
    <li>
      <a href="https://web.facebook.com/hephzisoft/" target="_blank" class="social-link">
        <img
          src="https://res.cloudinary.com/hephzisoft/image/upload/v1659679218/Hephzisoft/facebook_fz39l4.svg"
          alt=""
          width="24"
          class="img-fluid"
        />
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UC7OIuyrGQXzfNWaF2y-XhPw" target="_blank" class="social-link"
        ><img
          src="https://res.cloudinary.com/hephzisoft/image/upload/v1659679218/Hephzisoft/youtube_suglka.svg"
          alt=""
          width="26"
          class="img-fluid"
        />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/Hephzisoft16" target="_blank" class="social-link"
        ><img
          src="https://res.cloudinary.com/hephzisoft/image/upload/v1659679218/Hephzisoft/twitter_gojaoi.svg"
          alt=""
          width="22"
          class="img-fluid"
        />
      </a>
    </li>
    <li>
      <a href="" class="social-link"
        ><img
          src="https://res.cloudinary.com/hephzisoft/image/upload/v1659679218/Hephzisoft/google_vtsinw.svg"
          alt=""
          width="20"
          class="img-fluid"
      /></a>
    </li>
    <li>
      <a href="https://www.instagram.com/hephzisoft/" target='_blank' class="social-link"
        ><img
          src="https://res.cloudinary.com/hephzisoft/image/upload/v1659679218/Hephzisoft/instagram_onbspt.svg"
          alt=""
          width="20"
          class="img-fluid"
      /></a>
    </li>
  </ul>
  <div class="burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>
