<div class="social">
  <ul>
    <li>
      <a href="" class="social-link">
        <img
          src="https://res.cloudinary.com/hephzisoft/image/upload/v1659679218/Hephzisoft/facebook_fz39l4.svg"
          alt=""
          class="img-fluid"
          
        />
      </a>
    </li>
    <li>
      <a href="" class="social-link"
        ><img
          src="https://res.cloudinary.com/hephzisoft/image/upload/v1659679218/Hephzisoft/youtube_suglka.svg"
          alt=""
          class="img-fluid"
        />
      </a>
    </li>
    <li>
      <a href="" class="social-link"
        ><img
          src="https://res.cloudinary.com/hephzisoft/image/upload/v1659679218/Hephzisoft/twitter_gojaoi.svg"
          alt=""
          class="img-fluid"
        />
      </a>
    </li>
    <li>
      <a href="" class="social-link"
        ><img
          src="https://res.cloudinary.com/hephzisoft/image/upload/v1659679218/Hephzisoft/google_vtsinw.svg"
          alt=""
          class="img-fluid"
      /></a>
    </li>
    <li>
      <a href="" class="social-link"
        ><img
          src="https://res.cloudinary.com/hephzisoft/image/upload/v1659679218/Hephzisoft/instagram_onbspt.svg"
          alt=""
          class="img-fluid"
      /></a>
    </li>
  </ul>
</div>
