/* ** About section */
.about-section{
    display: block;
  }
  .about-upper{
    display: flex;
    gap: 20px;
  }
  .about-text{
    line-height: 1.4em;
  }
  .about-text-header{
    font-family: 'Satisfy', cursive;
    color: var(--bg-color);
    font-weight: bold;
    font-size: 2em;
  }
  .about-text-body::first-letter{
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
  }
  
  
  @media (max-width:500px){
      .about-upper{
          display: block;
        }
        .about-text-header{
          text-align: center;
        }
        .about-btn{
          text-align: center;
      }
        
  }