/* *** General Styling  */
* {
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
:root {
  --bg-color: #666362;
  --color1: #ff812c;
  --color2: #dd2910;
  --color3: #8e522e;
}
.main {
  position: absolute;
  left: 15%;
  top: 40px;
  width: 85%;
  height: 1000vh;
  z-index: 0;
  background-color: var(--bg-color);
}
#btn{
  padding: 10px 5px;
  background-color: var(--color3);
  border: 1px solid var(--color3);
  text-decoration: none;
  color: white;
  border-radius: 7px;

}
/***** Landing page styling   */
.info {
  background-image: url("https://res.cloudinary.com/hephzisoft/image/upload/v1659725423/Hephzisoft/pexels-ivan-samkov-9629901_dbr6vi.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 93vh;
  background-size: cover;
}
.info-text{
  position: absolute;
  left: 30px;
}
.info-text h2 span{
  color: var(--color2);
}

/* ** About section */
.about-section{
  display: block;
}
.about-upper{
  display: flex;
  gap: 20px;
}
.about-upper .about-text{
  
  text-align: center;
  padding-top: 50px;
}

@media (max-width: 500px) {
  .main {
    width: 100%;
    height: 1000vh;
    left: 0% !important;
    z-index: 0;
    position: absolute;
    background-color: var(--bg-color);
  }
}
