{% extends 'main.html' %} {% load static %} {% block content %}
<main class="main">
  <section
    class="info d-flex align-items-center justify-content-center text-white"
  >
    <div class="info-text">
      <h2 class="text-wrap">
       <span>Hi!</span> <br />
       I am a Mobile App Developer, <br />  Back-end Developer.
      </h2>
    </div>
  </section>
  <section class="p-5 container-fluid about-section" id="about">
    <div class="about-upper">
      <div class="about-img col-lg-6">
        <img src="https://res.cloudinary.com/hephzisoft/image/upload/v1661108460/Hephzisoft/istockphoto-1167549766-612x612_snm8zt.jpg" class="img-fluid" alt="">
      </div>
      <div class="about-text col-lg-6  ">
       <p class="text-black text-left align-items-start"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, deleniti perferendis. Harum, aut eum accusamus impedit doloremque veritatis asperiores laborum sint officiis accusantium autem sed vel ut labore deserunt distinctio veniam dignissimos natus omnis soluta repellendus vero! Asperiores cumque inventore perferendis consequuntur molestias natus, praesentium maiores, consequatur accusantium rerum nesciunt.</p>
       <a href="" id="btn">Contact me</a>
      </div>
    </div>
  </section>
  <section id="contact">
   <div class="contact-form"></div>
   <div class="contact-info"></div>
  </section>
</main>
{% endblock %}
